body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
}



/* .account-icon {
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 50px;
  height: 50px;
  color: #00c2cb;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
} */

main {
  flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
}


footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: #666;
  height: 100px;
  padding: 40px;
}

footer a {
  margin: 5px;
  text-decoration: none!important;

}

.social-icon {
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 50px;
  height: 50px;
  color: #00c2cb;
  background-color: white;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
}

.social-icon:hover {
  color: #222;  /* change color when hover over the link */
}

#copyright {
  position: relative;
  right: auto;
}
.scroll {
  padding: 10px;
  width: 50px;
  height:50px;
  justify-items: flex-start;
​
}