@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins&family=Square+Peg&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #17252A;
    font-family: Poppins;
    color: #DEF2F1;
}

html {
    scroll-behavior: smooth;
  }



/* Nav bar css */
.logo {
    padding: 0%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 8px;
    left: 16px;
        
}

.nav ul {
    margin: 0;
    padding-top: 15px;
}

.nav li {
    display: inline;
    font-family: Poppins;
    font-weight: bold;
    

}

.nav a {
    display: inline-block;
    color: white;
    padding: .5em;
    text-decoration: none;

}

.main-nav {
    text-align: center;
    font-size: 2.1em;
    font-weight: lighter;
    height: 50px;
    background-color: #2B7A78;
    margin: auto;
    height: 100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    margin-bottom: 80px;
    
}

.main-nav li {
    padding: 5% 5%;
    
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}


/* Carrousel css */

#slider {
    position: relative;
    width: 200px;
    height: 303px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    border-radius: 15px;
}

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}

#slider ul li {
    position: relative;
    height: 100%;
    float: left;
}

#slider ul li img {
    width: 200px;
    height: 303px;
}

#slider #prev, #slider #next {
   width: 20px;
   height: 20px;
   border-color: white;
   position: absolute;
   top: 50%;
   margin-top: -8px;
   visibility: hidden;
   
}

#prev {
   border-bottom: 4px solid;
   border-left: 4px solid;
   transform: rotate(45deg);
   left: 10px;
}

   
#next {
   border-bottom: 4px solid;
   border-left: 4px solid;
   transform: rotate(-135deg);
   right: 10px;
}


#slider #prev:hover, #slider #next:hover {
    background-color: rgba (0, 0, 0, 0.5);
    text-shadow: 0;
}

.flex-container {
    display: flex;
    margin: 30px 50px;
    justify-content: center;
    
}

.flex-child:first-child {
    margin-right: 50px;
    
}

/* Home page containers css */
  
#intro-section {
    
    padding: 0px 20px;
    background-color: #2B7A78;
    font-family: Poppins;
    font-weight: normal;
    text-align: center;
    font-size: 1.0em;
    width: 40vw;
    height: 50vh;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    color: #DEF2F1;
}

h2, h3 {
    color: white;
}

.here {
    text-decoration: none;
    font-style: italic;
    color: #DEF2F1;
}

#generator {
    margin: 0 auto;
    padding: 20px;
    background-color: #2B7A78;
    font-family: Poppins;
    font-weight: normal;
    text-align: center;
    font-size: 1.5em;
    margin: 30px;
    width: 30vw;
    height: 75vh;
    border-radius: 15px;
    position: relative;
    left: 35%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    
}


#airplane-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#generated-film {
    font-size: 1em;
    font-family: Poppins;
    text-align: center;
    font-weight: bold;

}
#generate-link {
    font-size: 1em;
    color: #DEF2F1;
    font-family: Poppins;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 80px;
    background-color: #2B7A78;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    padding: 5px;
}

/* Footer section css */


.footer {
    margin: 20px;
    padding: 1px;
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 10px;
    width: 50px;
    height:50px
   
}



.scroll {
    padding: 10px;
    width: 50px;
    height:50px;
    position: fixed;
    bottom: 0;
    right: 15px;

}

.scroll-copyright {
    display: inline-flex;
    align-content: right;

}
.social-icon {
    display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
    width: 50px;
    height: 50px;
    color: #17252A;
    background-color: white;
    justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
    align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
    border-radius: 50%;  /* makes it round (circle if width and height are the same) */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);

  }
  
  .social-icon:hover {
    color: #222;  /* change color when hover over the link */
  }
  footer a {
    margin: 5px;
    text-decoration: none!important;
  }



/*  Contact form css */


  .Contact_form{
    padding: 20px 400px;
  }
  
  #Contact-Us{
    text-align: center;
    color: aqua;
    size: 50pt;
  }
  
  fieldset{
    color: #2B7A78;
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: solid;
    outline: black;
    border: 1px solid black;
    color: black;
    background-color: #2B7A78;
    border-radius: 15px;
    box-shadow: 0 5px #DEF2F1;
  }
  
  .button:hover {
      background-color: #3AAFA9;
      border: 1px solid black;
}
  
  .button:active {
    background-color: #2B7A78;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: 1px solid black;
  
  }

  .social-icon {
    display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
    width: 50px;
    height: 50px;
    color: #00c2cb;
    background-color: white;
    justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
    align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
    border-radius: 50%;  /* makes it round (circle if width and height are the same) */
  }
  
  .social-icon:hover {
    color: #222;  /* change color when hover over the link */
  }
  footer a {
    margin: 5px;
    text-decoration: none!important;
  
  }
