body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
}

ul {
  list-style-type: none;
  margin:auto;
  padding: 0;
  overflow: hidden;
  background-color: red;
  align-items: center;
  text-align: center;
  text-size-adjust: auto;

}

li {
  float: center;
  border-right: 1px solid rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
}

li:last-child {
    border-right: none;
  }

.navbar-brand{
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  margin: 10px 10px 10px 10px;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center; 

}
.nav-link{
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 100px;
  height: 50px;
  color: black;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center; 
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.account-icon {
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 50px;
  height: 50px;
  color: #00c2cb;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
}

main {
  flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
}

.Contact_form{
  padding: 200px 400px;
}

#Contact-Us{
  text-align: center;
  color: aqua;
}

fieldset{
  color: #111;
}

footer {
  display: flex;  /* allows use of "justify-content" property */
  justify-content: center;  /* horizontally centers the contents (the social icons) */
  background-color: #666;
  height: 100px;
  padding: 40px;
}

footer a {
  margin: 5px;
  text-decoration: none!important;

}

.social-icon {
  display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
  width: 50px;
  height: 50px;
  color: #00c2cb;
  background-color: white;
  justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
  align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
  border-radius: 50%;  /* makes it round (circle if width and height are the same) */
}

.social-icon:hover {
  color: #222;  /* change color when hover over the link */
}

#copyright {
  position: relative;
  right: auto;
}
.scroll {
  padding: 10px;
  width: 50px;
  height:50px;
  justify-items: flex-start;
​
}