@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins&family=Square+Peg&display=swap');

* {
    box-sizing: border-box;
    font-family: Poppins;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #17252A;
    font-family: Poppins;
    color: #DEF2F1;
}

html {
    scroll-behavior: smooth;
  }

.logo {
    padding: 0%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 8px;
    left: 16px;
        
}



.nav ul {
    margin: 0;
    padding-top: 15px;
}

.nav li {
    display: inline;
    font-family: Poppins;
    font-weight: bold;
    

}

.nav a {
    display: inline-block;
    /* color:#17252A; */
    color: white;
    padding: .5em;
    text-decoration: none;

}

.main-nav {
    text-align: center;
    font-size: 2.1em;
    font-weight: lighter;
    height: 50px;
    background-color: #2B7A78;
    margin: auto;
    height: 100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    margin-bottom: 80px;
    
}

.main-nav li {
    padding: 5% 5%;
    
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

h1 {
    font-size: 55px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 15px;
    text-shadow: 0 0 15px #2B7A78;
    letter-spacing: 5px;
}

.spans {
    text-shadow: 0 0 10px #def2f1;
    font-size: 30px;
}

.container{
    background-clip: text;
    /* background-color: transparent; */
    background-color: #2B7A78;
    backdrop-filter: blur(5px);
    height: 700px;
    display: inline-flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.795);
    border-radius: 15px;
    margin: 75px;

}

.textcont {
    /* background: rgba(0,0,0,0); */
    display: inline-block;
    width: 450px;
    font-size: 25px;
    justify-content: center;
    align-content: center;
    text-align: justify;
    /* background-color: #2B7A78; */
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.795); */
}
th {

    width:150px;
    text-align: left;
    background-color: transparent;
    
}

tr {
    vertical-align: top;
    height:40px;
    align-items: flex-start;
    background-color: transparent;
}
#rating {
 text-align: center;
 font-weight: bold;
 font-size: 20px;
 letter-spacing: 3px;
}
.textcont2 {
    background-color: #2B7A78;
    display: flex;
    width: 400px;
    font-size: 18px;
    padding-left: 30px;
    border-radius: 15px;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.795); */
    
}

.video {
    display: flex;
    justify-content: center;
    padding:80px;

}

.footer {
    margin: 20px;
    padding: 1px;
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 10px;
    width: 50px;
    height:50px
   
}



/* .scroll {
    padding: 10px;
    width: 50px;
    height:50px;
    position: fixed;
    bottom: 0;
    right: 15px;

} */
.scroll {
    padding: 5px;
    width: 70px;
    height:60px;
    position: fixed;
    bottom: 0;
    right: 0px;
    margin-right: none;
}

.scroll-copyright {
    display: inline-flex;
    align-content: right;
    color: #DEF2F1;

}

.social-icon {
    display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
    width: 50px;
    height: 50px;
    color: #00c2cb;
    background-color: white;
    justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
    align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
    border-radius: 50%;  /* makes it round (circle if width and height are the same) */
  }
  
  .social-icon:hover {
    color: #222;  /* change color when hover over the link */
  }
  footer a {
    margin: 5px;
    text-decoration: none!important;
  
  }
